
#titre-categorie{
    font-size: 11px;
    color:  #272626;
    text-align: center;
    margin-top: 10px;
    font-family: calibri;
    margin-bottom: 5px;
}

#prix
{
    font-size: 10px;
    color: #ff5e3a;
    font-weight: bold;
}
[col-4] {
    padding: 0px;
}
.col {
    padding: 0px;
}

#img-categorie
{
    height: auto;
}
